body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:133px;
}
#u2208 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:133px;
}
#u2209 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:58px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:391px;
}
#u2210 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:262px;
  width:173px;
  height:391px;
}
#u2211 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:188px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:33px;
}
#u2212 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:628px;
  width:173px;
  height:33px;
}
#u2213 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1193px;
  height:133px;
}
#u2214 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:0px;
  width:1193px;
  height:133px;
}
#u2215 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:58px;
  width:1189px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:49px;
}
#u2216 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:133px;
  width:172px;
  height:48px;
  color:#4A89BF;
  text-align:left;
}
#u2217 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:168px;
  word-wrap:break-word;
}
#u2218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:82px;
}
#u2218 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:181px;
  width:172px;
  height:81px;
}
#u2219 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:168px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:17px;
}
#u2220 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:186px;
  width:40px;
  height:16px;
  font-size:13px;
  color:#4A89BF;
}
#u2221 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u2222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:17px;
}
#u2222 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:212px;
  width:40px;
  height:16px;
  font-size:13px;
  color:#4A89BF;
}
#u2223 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u2224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:17px;
}
#u2224 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:238px;
  width:53px;
  height:16px;
  font-size:13px;
  color:#4A89BF;
}
#u2225 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1165px;
  height:552px;
}
#u2226 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:76px;
  width:1165px;
  height:552px;
}
#u2227 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:268px;
  width:1161px;
  visibility:hidden;
  word-wrap:break-word;
}
