body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2510_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:133px;
}
#u2510 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:133px;
}
#u2511 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:58px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2512_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:391px;
}
#u2512 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:262px;
  width:173px;
  height:391px;
}
#u2513 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:188px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2514_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:33px;
}
#u2514 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:628px;
  width:173px;
  height:33px;
}
#u2515 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2516_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1193px;
  height:133px;
}
#u2516 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:0px;
  width:1193px;
  height:133px;
}
#u2517 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:58px;
  width:1189px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2518_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:49px;
}
#u2518 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:133px;
  width:172px;
  height:48px;
  color:#4A89BF;
  text-align:left;
}
#u2519 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:168px;
  word-wrap:break-word;
}
#u2520_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:82px;
}
#u2520 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:181px;
  width:172px;
  height:81px;
}
#u2521 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:168px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2522_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:17px;
}
#u2522 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:186px;
  width:40px;
  height:16px;
  font-size:13px;
  color:#4A89BF;
}
#u2523 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u2524_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:17px;
}
#u2524 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:212px;
  width:40px;
  height:16px;
  font-size:13px;
  color:#4A89BF;
}
#u2525 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u2526_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:17px;
}
#u2526 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:238px;
  width:53px;
  height:16px;
  font-size:13px;
  color:#4A89BF;
}
#u2527 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2528_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1165px;
  height:552px;
}
#u2528 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:76px;
  width:1165px;
  height:552px;
}
#u2529 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:268px;
  width:1161px;
  visibility:hidden;
  word-wrap:break-word;
}
