body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u925_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:661px;
}
#u925 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:661px;
}
#u926 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:322px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u927 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:102px;
  width:97px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
