body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:893px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:534px;
  height:573px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:11px;
  width:533px;
  height:572px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:278px;
  width:529px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:573px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:11px;
  width:245px;
  height:572px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:278px;
  width:241px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:573px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:11px;
  width:290px;
  height:572px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:278px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:35px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:11px;
  width:290px;
  height:34px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:286px;
  word-wrap:break-word;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:35px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:11px;
  width:244px;
  height:34px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:240px;
  word-wrap:break-word;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:211px;
  width:100px;
  height:60px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:699px;
  top:211px;
  width:100px;
  height:60px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:241px;
  width:0px;
  height:0px;
}
#u14_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:89px;
  height:8px;
}
#u14_seg1 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:-4px;
  width:8px;
  height:89px;
}
#u14_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:77px;
  width:89px;
  height:8px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:32px;
  width:100px;
  word-wrap:break-word;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:241px;
  width:0px;
  height:0px;
}
#u16_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:444px;
  height:8px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:749px;
  top:271px;
  width:0px;
  height:0px;
}
#u18_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:127px;
}
#u18_seg1 {
  border-width:0px;
  position:absolute;
  left:-490px;
  top:119px;
  width:494px;
  height:8px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:-234px;
  top:115px;
  width:100px;
  word-wrap:break-word;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:799px;
  top:241px;
  width:0px;
  height:0px;
}
#u20_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:15px;
  height:8px;
}
#u20_seg1 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:-4px;
  width:8px;
  height:224px;
}
#u20_seg2 {
  border-width:0px;
  position:absolute;
  left:-540px;
  top:212px;
  width:555px;
  height:8px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:-201px;
  top:208px;
  width:100px;
  word-wrap:break-word;
}
#u22_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:44px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:506px;
  width:100px;
  height:43px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u24_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:44px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:72px;
  width:100px;
  height:43px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u26_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:44px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:141px;
  width:100px;
  height:43px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u28_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:44px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:297px;
  width:100px;
  height:43px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u30_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:44px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:367px;
  width:100px;
  height:43px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u32_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:44px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:437px;
  width:100px;
  height:43px;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u34_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:35px;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:11px;
  width:288px;
  height:34px;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:284px;
  word-wrap:break-word;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:115px;
  width:0px;
  height:0px;
}
#u36_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:30px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:5px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:184px;
  width:0px;
  height:0px;
}
#u38_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:31px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:480px;
  width:0px;
  height:0px;
}
#u40_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:30px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:5px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:389px;
  width:0px;
  height:0px;
}
#u42_seg0 {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:-4px;
  width:23px;
  height:8px;
}
#u42_seg1 {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:-230px;
  width:8px;
  height:234px;
}
#u42_seg2 {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:-230px;
  width:23px;
  height:8px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:-69px;
  top:-121px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:241px;
  width:0px;
  height:0px;
}
#u44_seg0 {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:-4px;
  width:23px;
  height:8px;
}
#u44_seg1 {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:-82px;
  width:8px;
  height:86px;
}
#u44_seg2 {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:-82px;
  width:23px;
  height:8px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:-69px;
  top:-47px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
